/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colors =====*/
  --hue-color: 58; /* 58 Base hue for colors */
  --light-background: hsl(var(--hue-color), 90%, 96%); /* Lighter shade for background */
  --mid-background: hsl(var(--hue-color), 80%, 85%); /* Mid-tone shade for contrast */
  --dark-text: hsl(var(--hue-color), 40%, 10%); /* Dark shade for text */
  --darker-text: hsl(var(--hue-color), 30%, 5%); /* Darker shade for contrast */
  --button-color: hsl(var(--hue-color), 80%, 50%); /* Lively button color */
  --button-hover-color: hsl(var(--hue-color), 80%, 45%); /* Button color on hover */
  --flash-bg-color: hsl(var(--hue-color), 90%, 95%); /* Flash message background color */
  --flash-border-color: hsl(var(--hue-color), 80%, 75%); /* Flash message border color */
  --del-button-color: hsl(var(--hue-color), 10%, 40%); /* Delete button color */
  --del-button-hover-color: hsl(var(--hue-color), 30%, 20%); /* Delete button color */

  /*===== Fonts and Typography =====*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.9rem;
  --smaller-font-size: 0.75rem;

  /*===== Margins =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

.header {
  background: url('/static/library.jpeg') no-repeat center center;
  background-size: cover;
  height: 200px;
  width: 100%;
  margin: 0 auto;
  position: relative; /* Ensure proper positioning context */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
}

.header h1 {
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  position: absolute;
  bottom: 0px;
  z-index: 1; /* Ensure it appears above the image */
}

body {
    font-family: var(--body-font);
    background: var(--light-background);
    color: var(--dark-text);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.sort_items {
    background: var(--light-background);
    border-radius: 8px;
    padding: 10px;
    margin: var(--mb-4) 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.sort_items form {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between elements */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.sort_items label {
    font-size: var(--normal-font-size);
    color: var(--dark-text);
    margin-right: 10px;
}

.sort_items select,
.search_input,
#authors_button,
#books_button{
    padding: 8px 12px;
    border: 1px solid var(--mid-background);
    border-radius: 4px;
    font-size: var(--normal-font-size);
    background: #fff;
    color: var(--dark-text);
    transition: border-color 0.3s ease;
}

.sort_items select:focus,
.search_input:focus,
#authors_button:focus,
#books_button: focus {
    border-color: var(--button-color);
    outline: none;
}

.sort_items button,
.search_query button,
#authors_button,
#books_button {
    padding: 10px 20px;
    background: var(--button-color);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: var(--normal-font-size);
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.sort_items button:hover,
.search_query button:hover,
#authors_button:hover,
#books_button:hover {
    background: var(--button-hover-color);
    transform: translateY(-2px);
}

.container {
    padding: 0px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.table-container {
    background: var(--mid-background);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var(--mb-4);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--mid-background);
}

th {
    background: hsl(var(--hue-color), 70%, 70%);
    color: hsl(var(--hue-color), 10%, 10%);
    font-weight: var(--font-semi);
}

td {
    background: var(--mid-background);
    color: var(--dark-text);
}

button,
a.button {
    padding: 10px 20px;
    background: var(--button-color);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: var(--normal-font-size);
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* Remove underline from links */
    transition: background 0.3s, transform 0.3s;
    display: inline-block;
    margin: 0 10px;
}

button:hover,
a.button:hover {
    background: var(--button-hover-color);
    transform: translateY(-2px);
}

#delete-author-btn,
.purchase-link,
#not-available {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: var(--del-button-color);
    font-size: 20px;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease;
}

#delete-author-btn:hover,
.purchase-link:hover,
#not-available:hove {
    color: var( --del-button-hover-color);
}

#delete-author-btn:focus,
.purchase-link:focus,
#not-available {
    outline: none;
}

.flash-messages {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--flash-bg-color); /* Use a variable or any color of your choice */
    border-left: 5px solid var(--flash-border-color); /* Optional for a flash message effect */
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.flash-messages-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flash-message {
    color: var(--darker-text); /* Use a contrasting text color */
    font-size: var(--normal-font-size); /* Font size consistent with your design */
}

input[type="range"] {
    -webkit-appearance: none; /* Remove default slider styling */
    width: 100%;
    height: 5px;
    background: #ddd; /* Slider track color */
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default thumb styling */
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white; /* Default thumb color */
    cursor: pointer;
    transition: background-color 0.15s ease-in-out; /* Smooth transition */
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white; /* Default thumb color */
    cursor: pointer;
    transition: background-color 0.15s ease-in-out; /* Smooth transition */
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white; /* Default thumb color */
    cursor: pointer;
    transition: background-color 0.15s ease-in-out; /* Smooth transition */
}

#hue-value {
    display: none;
}

@media (max-width: 600px) {
    .header h1 {
        font-size: 1.5rem;
    }

    table {
        font-size: 0.8rem;
    }

    button {
        font-size: 0.9rem;
    }
}

/* Keyframe animation for flash messages */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
