<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_add_books.css">
    <title>Add a book</title>
</head>
<body>
    <div class="add_book_container">
        <div class="book_header">
            <h1>Add Book</h1>
         </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flash-messages">
                <ul class="flash-messages-list">
                    {% for message in messages %}
                        <li class="flash-message">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('add_books') }}">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required><br><br>

            <label for="isbn">ISBN:</label>
            <input type="text" id="isbn" name="isbn" required><br><br>

            <label for="publication_year">Publication year:</label>
            <input type="text" id="publication_year" name="publication_year" min="1000" max="{{ current_year }}" required><br><br>

            <label for="author">Author:</label>
            <select id="author_id" name="author_id" required>
                <option value="">Select an Author</option>
                {% for author in authors %}
                    <option value="{{ author.author_id }}">{{ author.name }}</option>
                {% endfor %}
            </select><br><br>

            <button type="submit">Add Book</button><br><br>

            <button class="my_library_button">
                <a href="{{ url_for('home') }}" class="button-link">My Library</a>
            </button>
        </form>
    </div>

    <br>

    <script>
        function applyHueToCSS(hue) {
            document.documentElement.style.setProperty('--hue-color', hue);
            document.documentElement.style.setProperty('--first-color', `hsl(${hue}, 89%, 97%)`);
            document.documentElement.style.setProperty('--second-color', `hsl(${hue}, 6%, 82%)`);
            document.documentElement.style.setProperty('--third-color', `hsl(${hue}, 16%, 1%)`);
            document.documentElement.style.setProperty('--forth-color', `hsl(${hue}, 1%, 20%)`);
            document.documentElement.style.setProperty('--button-color', `hsl(${hue}, 89%, 60%)`);
            document.documentElement.style.setProperty('--flash-bg-color', `hsl(${hue}, 89%, 90%)`);
            document.documentElement.style.setProperty('--flash-border-color', `hsl(${hue}, 89%, 70%)`);

        }

        document.addEventListener('DOMContentLoaded', () => {
            const hue = localStorage.getItem('hue') || 58; // Default to 58 if no hue is found in localStorage
            applyHueToCSS(hue);
        });
    </script>

</body>
</html>