<!-- book_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_book_details.css">
    <title>{{ book.title }} - Book Details</title>
</head>
<body>
    <div class="book-detail-container">
         <div class="book_detail_header">
            <h1>{{ book.title }}</h1>
        </div>

        <div class="suggestion-text">
            <h3>Why You Should Read This Book!!!</h3>
            <p>{{ suggestion }}</p>
        </div>

        <div class="book-info">
            <div class="book-cover">
                <img src="{{ book.cover_image }}" alt="Cover of {{ book.title }}">
            </div>
            <div class="book_details">
                <p><strong>Author:</strong> <a href="{{ url_for('author_details', author_id=book.author.author_id) }}">{{ book.author.name }}</a></p>
                <p><strong>Rating:</strong>
                    {% if book.rating == 0.0 %}
                        Unrated
                    {% else %}
                        {{ book.rating }}
                    {% endif %}
                </p>
                <p><strong>ISBN:</strong> {{ book.isbn }}</p>
                <p><strong>Publication Year:</strong> {{ book.publication_year }}</p>
                <p><strong>Description:</strong> {{ book.description }}</p></p>
            </div>
        </div>

         <button class="my_library_button">
             <a href="{{ url_for('home') }}" class="button-link">My Library</a>
         </button>
    </div>

    <script>
        function applyHueToCSS(hue) {
            document.documentElement.style.setProperty('--hue-color', hue);
            document.documentElement.style.setProperty('--first-color', `hsl(${hue}, 89%, 97%)`);
            document.documentElement.style.setProperty('--second-color', `hsl(${hue}, 6%, 82%)`);
            document.documentElement.style.setProperty('--third-color', `hsl(${hue}, 16%, 1%)`);
            document.documentElement.style.setProperty('--forth-color', `hsl(${hue}, 1%, 20%)`);
            document.documentElement.style.setProperty('--fifth-color', `hsl(${hue}, 89%, 90%)`);
            document.documentElement.style.setProperty('--button-color', `hsl(${hue}, 89%, 60%)`);
            document.documentElement.style.setProperty('--flash-bg-color', `hsl(${hue}, 89%, 90%)`);
            document.documentElement.style.setProperty('--flash-border-color', `hsl(${hue}, 89%, 70%)`);
            document.documentElement.style.setProperty('--suggestion-color', `hsl(${hue}, 20%, 94%)`);
            document.documentElement.style.setProperty('--h3-color:', `hsl(${hue}, 30%, 39%)`);

        }

        document.addEventListener('DOMContentLoaded', () => {
            const hue = localStorage.getItem('hue') || 58; // Default to 58 if no hue is found in localStorage
            applyHueToCSS(hue);
        });
    </script>
</body>
</html>
